<div class="perfil">
	<h3 class="perfil-title">¡Hola Javier!</h3>
	<img src="img/user-foto.png" alt="">
	<div class="perfil-subastas">N° Subastas : <span>0</span></div>	
	<p>ingreso mensual</p>
	<div class="ingresos">
		<span>S/</span> <input type="text" value="2000">
	</div>
	<div class="radios-perfil">
		<div class="form-group">
			<label for="op1">Independiente</label> <input type="radio" id="op1" name="radio"> 
		</div>
		<div class="form-group">
			<label for="op2">Dependiente</label> <input type="radio" id="op2" name="radio" > 
		</div>
	</div>			
</div>