<% include partials/header %>

<div class="container">
    <div class="row margin-top-container">
        <div class="col-lg-6">
            <img src="img/objeto-inteligente-vectorial.png" alt="img_registro">
        </div>
        <div class="col-lg-6">
            <div class="card-cliente">
                <form action="/registrar-cliente" method="POST">
                        <h3 class="formulario-titulo">Registrate</h3>
                        <div class="row d-flex justify-content-lg-around margin-bt">
                            <input type="text" class="col-lg-3 form-control input-text" placeholder="Nombres" name="nombres">
                            <input type="text" class="col-lg-3 form-control input-text" placeholder="Apellidos" name="apellidos">
                            <input type="text" class="col-lg-3 form-control input-text" placeholder="Celular" name="celular">
                        </div>
                        <div class="row d-flex justify-content-lg-around margin-bt">
                            <select class="col-md-3 form-control input-text" name="tipodoc">
                                <option value="dni">DNI</option>
                                <option value="ruc">RUC</option>
                                <option value="pasaporte">PASAPORTE</option>
                                <option value="part_nacimiento">PART. NACIMIENTO</option>
                            </select>
                            <input type="text" placeholder="Ingrese N" class="col-md-3 form-control input-text" name="numdoc">
                            <select class="col-md-3 form-control input-text" name="estcivil">
                                <option value="soltero">Soltero</option>
                                <option value="casado">Casado</option>
                            </select>
                        </div>
                        <div class="row d-flex justify-content-lg-around margin-bt">
                            <input type="date" class="col-md-3 form-contro input-text" name="fecnacimiento">
                            <select class="col-md-3 form-control input-text" name="departamento">
                                <option value="lima">Lima</option>
                            </select>
                            <select class="col-md-3 form-control input-text" name="provincia">
                                <option value="huaura">Huaura</option>
                            </select>
                        </div>
                        <div class="row d-flex justify-content-lg-around">
                            <select class="col-md-3 form-control input-text" name="distrito">
                                <option value="huacho">Huacho</option>
                            </select>
                            <input type="text" class="col-md-3 form-control input-text" placeholder="Correo Electronico" name="correo">
                            <input type="password" class="col-md-3 form-control input-text" placeholder="Contraseña" name="contrasena">
                        </div>
                        <div class="container-btn">
                            <button type="submit" class="btn btn-vamos">Allá Vamos</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>