<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="img/objeto-inteligente-vectorial.png" alt="img_registro">
        </div>
        <div class="col-lg-6">
            <div class="formulario-cliente">
                <h3 class="formulario-titulo">Registrate como persona natural</h3>
                <input type="text" class="col-md-3" placeholder="Nombre" id="">
                <input type="text" class="col-md-3" placeholder="Apellidos" id="">
                <input type="text" class="col-md-3" placeholder="Celular" id="">
                <select name="Tipo Documento" class="col-md-3" id="">
                    <option value="">DNI</option>
                    <option value="">RUC</option>
                    <option value="">PASAPORTE</option>
                    <option value="">PART. NACIMIENTO</option>
                </select>
                <input type="text" placeholder="Ingrese N" class="col-md-3" id="">
                <input type="date" class="col-md-3" id="">
                <select name="" class="col-md-3" id="">
                    <option value="">Lima</option>
                </select>
                <select name="" class="col-md-3" id="">
                    <option value="">Huaura</option>
                </select>
                <select name="" class="col-md-3" id="">
                    <option value="">Huacho</option>
                </select>
                <input type="text" class="col-md-3" placeholder="Correo Electronico" id="">
                <input type="text" class="col-md-3" placeholder="Contraseña" id="">
                <select name="" class="col-md-3" id="">
                    <option value="">CASADO</option>
                    <option value="">SOLTERO</option>
                </select>
                <button type="submit" class="btn">Allá Vamos</button>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>