<% include partials/header %>

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<% include partials/menu-dashboard-usuario %>
			
		</div>
	</div>
</div>



  			




<% include partials/footer %>
   
