<% include partials/header %>

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<% include partials/menu-dashboard-user %>
			
		</div>
		<div class="col-lg-8">
			
			<div class="crear-item">
				<a href="" class="plus-link">
					<img src="img/plus.png" alt="">
				</a>
				<p>crear mi primera subasta</p>
			</div>
			<div class="ingresar-deuda">
				<div class="ingresar-mouns">
					<span>Monto total de su deuda a subastar</span>
					<img src="img/mounstrito.png" alt="">
					<input class="mouns-input" type="text">
				</div>
				<div class="forms">
					<h4>¿En que entidad bancaria se encuentra tu deuda?</h4>
					<form action="/registrar-subasta" method="POST" id="formu">
						<div class="row">
								<input type="hidden" name="idcliente" value="6">
								<div class="col-lg-5">
									<select name="nombreentidad"  class="form-control" id="financiero">
										<option value="BBVA">BBVA Continental</option>
										<option value="BCP">BCP</option>
										<option value="Interbank">Interbank</option>
										<option value="Caja Huancayo">Caja Huancayo</option>
										<option value="Caja Piura">Caja Piura</option>
									</select>
								</div>
								<br>
								<br>
								<br>
								<div class="col-lg-7 nucuotas">
										<label for="">número total de cuotas</label>
										<input type="text" name="numcuotasrestantes" class="form-control">
								</div>
								<div class="col-lg-6 nucuotas">
										<label for="">Cuota mensual</label>
										<input type="text" name="cuotamensual" class="form-control">
								</div>
								<div class="col-lg-6 nucuotas">
									<label for="">TEA %</label>
									<input type="text" name="tea" class="form-control">
								</div>
							
						</div>
					</form>
				</div>

				
				
			</div>	
			<a href="" class="agregar"><span>+</span> Agregar otra deuda</a>
			<button class="btn-defaulte">Eso es todo</button>
		</div>
	</div>
</div>

<% include partials/footer %>
   
   <script>

   	$('.ingresar-deuda').hide();
   	$('.agregar').hide();
   	$('.btn-defaulte').hide();
   	$('.plus-link').click(function(e){
   		e.preventDefault();
   		$('.crear-item').hide();
   		$('.ingresar-deuda').fadeIn();
		$('.agregar').fadeIn();
		$('.btn-defaulte').fadeIn();
   	});
   	$('.btn-defaulte').click(function(){
		   $('#formu').submit();
		  window.setInterval("refresh()",600000);
});

function refresh(){
	window.location.href = "/dashboard-financiera";
}
   	$('.agregar').click(function(e){
   		e.preventDefault();
   		

   		$('.forms').not('.cloned').clone().addClass('cloned').appendTo('.ingresar-deuda');
   	});
   </script>
