<% include partials/header %>

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<% include partials/menu-dashboard-user %>
			
		</div>
		<div class="col-lg-8">
			<div class="crear-item">
				<a href="" class="plus-link">
					<img src="img/plus.png" alt="">
				</a>
				<p>crear mi primera subasta</p>
			</div>
			
		</div>
	</div>
</div>

<% include partials/footer %>
   
