<% include partials/header %>
<div class="container">
    <div class="row margin-top-container">
        <div class="col-md-4">
            <img src="img/dashboard-bcp.png" alt="">
        </div>
        <div class="col-md-8 d-flex justify-content-center align-item-center">
            <div class="mensaje-ganador d-flex flex-column justify-content-center align-item-center">
                <h1 class="ganador-titulo">¡Ganaste!</h1>
                <p class="usuario-deuda">La deuda de <span>Javier Díaz</span></p>
                <!-- <div class="container-btn-subasta">
                    <button class="btn btn-perfil btn-subasta">ver detalles</button>        
                </div> -->
                <p class="comunica-cliente">comunícate con el cliente para guiarlo en toda la experiencia</p>
            </div>
        </div>
    </div>
</div>