<% include partials/header %>
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-4 imge">
					<img src="img/dashboard-bcp.png" alt="">
				</div>
				<div class="col-lg-8">
					<h1 class="title-section">Bienvenido a la subasta</h1>
					<div class="ingresar-mouns2">
						<span>Deuda del Cliente</span>
						<img src="img/mo2.png" alt="">
						<input class="mouns-input" type="text" value="S/. 20,000">
					</div>

					<h1 class="title-section title--small">Ofertas Activas</h1>
					<div class="row">
						<div class="col-lg-4">
							<div class="square-item ho">
								<img src="img/square.png" alt="">
								<div class="data">
									<div class="finer">Finer1</div>
									<p class="tea-title">TEA</p>
									<div class="percent">3.5%</div>
									<div class="time-t">15 meses</div>
								
								</div>
								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="square-item tsmall">
								<img src="img/square.png" alt="">
								<div class="data">
									<div class="finer">Finer1</div>
									<p class="tea-title">TEA</p>
									<div class="percent">4.2%</div>
									<div class="time-t">15 meses</div>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="square-item ttsmall">
								<img src="img/square.png" alt="">
								<div class="data">
									<div class="finer">Finer1</div>
									<p class="tea-title">TEA</p>
									<div class="percent">4.5%</div>
									<div class="time-t">15 meses</div>
								</div>
								
							</div>
						</div>
						
					</div>
					<h1 class="title-section title--small">Crea tu oferta</h1>
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="">Ingresa la TEA%</label>
								<input type="text" class="te form-control">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="">Tiempo Meses</label>
								<input type="text" class="te form-control">
							</div>
						</div>
					</div>
					<button class="telo">Te lo compro</button>
				</div>
  			</div>
  		</div>
<% include partials/footer %>
   
