<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <% include partials/menu-dashboard-user %>
        </div>
        <div class="col-md-8">
            <div class="ingresar-mouns">
                <span>Deuda subastada</span>
                <img src="img/mounstrito.png" alt="">
                <input class="mouns-input" type="text">
            </div>
            <div class="subasta-usuario">
                <h2>Ofertas</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="container-image">
                            <p class="finer-j">Finer 1</p>
                            <p class="tea">TEA: <span class="porcentaje">4.5%<span></p>
                            <p class="month">15 meses</p>
                            <img src="img/capa-9.png" alt=""> 
                            <div class="container-btn-subasta">
                                <button class="btn btn-subasta">¡Te lo vendo!</button>
                            </div>
                            <!-- <button class="btn btn-subasta">¡Te lo vendo!</button> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container-image">
                            <p class="finer-j">Finer 2</p>
                            <p class="tea">TEA: <span class="porcentaje">4.5%<span></p>
                            <p class="month">15 meses</p>
                            <img src="img/capa-9.png" alt="">
                            <div class="container-btn-subasta">
                                <button class="btn btn-subasta">¡Te lo vendo!</button>
                            </div>
                            <!-- <button class="btn btn-subasta">¡Te lo vendo!</button> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container-image">
                            <p class="finer-j">Finer 3</p>
                            <p class="tea">TEA: <span class="porcentaje">4.5%<span></p>
                            <p class="month">15 meses</p>
                            <img src="img/capa-9.png" alt="">
                            <div class="container-btn-subasta">
                                <button class="btn btn-subasta">¡Te lo vendo!</button>
                            </div>
                            <!-- <button class="btn btn-subasta">¡Te lo vendo!</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>