<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <% include partials/menu-dashboard-user %>
        </div>
        <div class="col-md-8">
            <div class="ingresar-mouns">
                <span>Deuda subastada</span>
                <img src="img/mounstrito.png" alt="">
                <input class="mouns-input" type="text">
            </div>
            <div class="subasta-usuario">
                <h2>Ofertas</h2>
                <div class="container-image">
                    <p class="finer">Finer 1</p>
                    <span class="tea">TEA: 4.5%</span>
                    <p class="month">15 meses</p>
                    <img src="img/capa-9.png" alt=""> 
                    <!-- <button class="btn btn-subasta">¡Te lo vendo!</button> -->
                </div>

                <div class="container-image">
                    <p class="finer">Finer 1</p>
                    <span class="tea">TEA: 4.5%</span>
                    <p class="month">15 meses</p>
                    <img src="img/capa-9.png" alt=""> 
                    <!-- <button class="btn btn-subasta">¡Te lo vendo!</button> -->
                </div>

                <div class="container-image">
                    <p class="finer">Finer 1</p>
                    <span class="tea">TEA: 4.5%</span>
                    <p class="month">15 meses</p>
                    <img src="img/capa-9.png" alt=""> 
                    <!-- <button class="btn btn-subasta">¡Te lo vendo!</button> -->
                </div>

            </div>
        </div>
    </div>
</div>