<% include partials/header %>
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-4 imge">
					<img src="img/dashboard-bcp.png" alt="">
				</div>
				<div class="col-lg-8">
					<h1 class="title-section">Bienvenido a la subasta</h1>
					<div class="ingresar-mouns2">
						<span>Deuda del Cliente</span>
						<img src="img/mo2.png" alt="">
						<input class="mouns-input" type="text" value="S/. 20,000">
					</div>

					<h1 class="title-section title--small">Ofertas Activas</h1>
				</div>
  			</div>
  		</div>
<% include partials/footer %>
   
