.title-section{
	font-size: 45px;
	font-family: 'Baloo Bhaina', cursive;
	text-align: center;
	color: #12a7c8;
	margin-top: 50px;
}
.bcp-image{
	width: 304px;
	margin: 80px auto;
	display: flex;
}

.item-oferta{
	width: 288px;
	height: 416px;
	border-radius: 10px;
	background-color: #12a7c8;
	text-align: center;
	padding: 10px;
	font-family: 'Baloo Bhaina', cursive;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.oferta-title{
	width: 174px;
	font-size: 20px;
	color: #ffffff;

}
.monto{
	font-size: 45px;
	color: #fff;
	margin-bottom: 0;
}
.time{
	font-size: 45px;
    font-weight: bold;
    color: #fff;
    padding: 10px 15px 5px 15px;
    border: solid 1px #fff;
    border-radius: 10px;
    margin: 6px 0;
    line-height: 45px;
}
.competidores{
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	width: 80%;
	text-align: left;
	line-height: 18px;
}
.boton-subasta{
	width: 251px;
	height: 59px;
	border-radius: 10px;
	background-color: #f31e53;
	border: 0;
	text-transform: uppercase;
	color: #fff;
	margin-top: 20px;
}
.perfil{
	text-align: center;
	font-family: 'Baloo Bhaina', cursive;
	color: #12a7c8;
	margin-top: 100px;
}
.perfil-title{
	font-size: 37px;
	
}
.perfil-subastas{
	font-size: 14px;
	margin-top: 20px;
}
.ingresos span{
	font-size: 25px;
	margin-right: 10px;
}

.ingresos input{
	width: 150px;
	border: solid 2px #12a7c8;
	border-radius: 5px;
	font-size: 25px;
	padding-top: 10px;
	color: #12a7c8;
	padding-left: 15px;
}

.radios-perfil{
	margin-top: 30px;
}

.plus-link{
	background: #12a7c8;
	width: 80px;
	height: 80px;
	display: inline-block;
	line-height: 80px;
	text-align: center;
	border-radius: 50%;
	margin-bottom: 10px;
}
.crear-item{
	margin-top: 220px;
	text-align: center;
	color:  #12a7c8;
	font-family: 'Baloo Bhaina', cursive;
}

nav{
	height: 70px;
	line-height: 70px;
}
.navbar{
	width: 250px;
	display: inline-block;
}
ul{
	padding-left: 0;
	list-style: none;
	display: inline-block;
}
li{
	display: inline-block;
}
li a{
	font-family: "Open Sans";
	font-size: 12px;
	padding-right: 20px;
	color: gray
}

.ingresar-deuda{
	margin-top: 20px;
	text-align: center;

}
.ingresar-mouns{
	position: relative;
}
.ingresar-deuda .mouns-input{
	position: absolute;
	top: 55%;
	left: 60%;
	width: 350px;
	transform: translate(-50%,-50%);
	font-size: 40px;
	font-family: 'Baloo Bhaina', cursive;
	background: none;
	border: 0;
	color: #fff;
}
.ingresar-deuda input:focus{
	outline: 0 transparent;
}
.ingresar-mouns span{
	position: absolute;
	top: 40px;
	font-family: 'Baloo Bhaina', cursive;
	left: 40%;
	color:  #12a7c8;
	font-size: 20px;
}
.forms{
	width: 560px;
	margin: auto;
	font-family: 'Baloo Bhaina', cursive;
	color:  #12a7c8;
	padding-bottom: 10px;
	border-bottom: solid 1px #f1f1f1;
}
.forms h4{
	font-family: 'Baloo Bhaina', cursive;
	color:  #12a7c8;
	margin: 20px 0;

}
.forms select{
	border: solid 2px #12a7c8;
}
.nucuotas label{
	display: inline-block;
}
.nucuotas input{
	font-family: 'Open Sans', cursive;
	margin-left: 10px;
	width: 114px;
	display: inline-block;
	border: solid 2px #12a7c8;
}

.btn-defaulte{
	font-family: 'Baloo Bhaina', cursive;
	width: 235px;
  	height: 44px;
  	background: #12a7c8;
  	color: #fff;
  	font-size: 18px;
  	border: 0;
  	border-radius:10px;
  	margin: 20px auto;
  	display: block
}

.agregar{
	display: block;
	font-family: 'Baloo Bhaina', cursive;
	margin-top: 20px;
	color: #12a7c8;
	text-align: center; 
	pointer-events: none;
}

.agregar span{
	width: 30px;
	height: 30px;
	background: #12a7c8;
	display: inline-block;
	color: #fff;
	padding-top: 3px;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}
.agregar:hover{
	text-decoration: none;
	color: #12a7c8;
}

.imge{
	width: 304px;
	margin-top: 60px;
}

.ingresar-mouns2{
	position: relative;
	text-align: center;

}
.ingresar-mouns2 span{
	position: absolute;
	top: 20px;
	left: 350px;
	font-family: 'Baloo Bhaina', cursive;
	font-size: 20px;
	color: gray;
}
.ingresar-mouns2 input{
	position: absolute;
	top: 57%;
	left: 65%;
	width: 350px;
	transform: translate(-50%,-50%);
	font-size: 40px;
	font-family: 'Baloo Bhaina', cursive;
	background: none;
	border: 0;
	color: #fff;
	pointer-events: none;
}

.title--small{
	font-size: 25px;
}
.square-item{
	position: relative;
}
.data{
	position: absolute;
	top: 8px;
	left: 77px;
	padding: 10px;
	font-family: 'Baloo Bhaina', cursive;
	color: #fff;
	text-align: center;
	padding-left: 10px;
}

.fine{
	font-size: 20px;
}

.tea-title{
	font-size: 25px;
	line-height: 20px;
}

.percent{
	font-size: 38px;
	line-height: 35px;
}

.te{
	border: solid 2px #12a7c8;
}

.telo{
	width: 226px;
 	height: 52px;
 	border-radius: 10px;
  	background-color: #ff0000;
  	color: #fff;
 	text-align: center;
	border: 0 transparent;
	margin: 20px 0;
}

.pero :nth-child(2) .square-item{
	transform: scale(0.7);
}
.pero :nth-child(3) .square-item{
	transform: scale(0.5);
}

.ho{
	transform: scale(1);
}
.ho:hover{
	transform: scale(1.2);
	transition: all .2s;
}

.verresultado{
	margin-left: 15px;
	color: #ff0000;
	padding-left: 1px;
}